name: Python Twitter Bot

on:
  workflow_dispatch: # Manuel çalıştırmak için
  schedule:
    # TSİ 10:00, 17:00 ve 22:00 (UTC 07:00, 14:00, 19:00)
    - cron: '0 7,14,19 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: # Dosya değişikliğini kaydetmek için izin
      contents: write
    
    steps:
      - name: Depoyu Kontrol Et
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Kur
        run: pip install tweepy

      - name: Botu Çalıştır
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_KEY_SECRET: ${{ secrets.API_KEY_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
        run: python final_bot.py

      - name: İndeksi Güncelle (Git Commit)
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add index.txt
          git commit -m "İndeks güncellendi: $(cat index.txt)" || echo "Değişiklik yok"
          git push
