name: Python Twitter Bot

on:
  workflow_dispatch:
  schedule:
    # Her saat başı çalışır (0 * * * *)
    - cron: '0 * * * *' 

jobs:
  tweet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Python Kurulumu
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # Kullandığınız Python sürümünü kontrol edin

      - name: Gerekli Kütüphaneleri Yükleme
        # Bu komut, requirements.txt dosyasındaki kütüphaneleri yükler (Eğer varsa)
        run: pip install -r requirements.txt 

      - name: Tweet Atma
        env:
          # PYHTON KODUNUZA UYGUN DEĞİŞKEN İSİMLERİ (CONSUMER_KEY VB.)
          CONSUMER_KEY: ${{ secrets.API_KEY }}
          CONSUMER_SECRET: ${{ secrets.API_SECRET }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
          
          # YER TUTUCULAR
          TARGET_USERNAME: ${{ secrets.TARGET_USERNAME }} 
          QUOTE_TEXT: ${{ secrets.QUOTE_TEXT }}           
          
        # Sizin ana bot dosyanızın adı neyse buraya onu yazın (Örn: python bot.py)
        run: python final_bot.py
